body {
    margin: 0;
    padding: 0;
    background-color: pink;
}

header {
    display: flex;
    width: 100%;
    height: 105px;
    justify-content: space-between;
}

.A {
    width: 25%;
    height: 100%;
    margin: 2%;
    border: 5px solid rgb(228, 80, 208);
}

#B {
    margin-top: 3%;
    height: 490px;
    display: flex;
    width: 105%;
}
#Bb {
    display: flex;
    margin-top: 3%;
    width: 20%;
    height: 420px;
    flex-direction: column;
    justify-content: end;
    margin-left: 13%;
}

.Bba {
    width: 100%;
    height: 152px;
    border: 5px solid rgb(228, 80, 208);
    margin-bottom: 27px;
}

#Ba {
    display: flex;
    width: 67%;
    height: 430px;
    margin-top: 45px;
    border: 5px solid rgb(228, 80, 208);
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}
.Baa {
    width: 38%;
    height: 30%;
    border: 5px solid rgb(195, 0, 255);
    
}